
@using MyStore_Core3.Utilities.Convertor
@model IEnumerable<MyStore_Core3.DomainClasses.OrderApp>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create" class="btn btn-primary">افزودن سفارش جدید</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SellCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellCount)
                </td>
                <td>
                    @DateTime.Parse(item.OrderTime).ToShamsi()
                </td>

                <td style="width: 205px">
                    <a asp-action="Edit" asp-route-id="@item.OrderAppId" class="btn btn-sm btn-warning">ویرایش</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderAppId" class="btn btn-sm btn-info">جزئیات</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderAppId" class="btn btn-sm btn-danger">حذف</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
